<div class="container">
  <div class="content">
    <h1>Registrarse</h1>
    <form class="form" novalidate (submit)="submit()">
      <div class="controller">
        <input (change)="handleUsername()" type="text" placeholder="Elige tu nombre de usuario" />
      </div>
      <div class="controller">
        <input type="text" placeholder="Correo electrónico" />
      </div>
      <div class="controller">
        <input type="text" placeholder="Crea una contraseña segura" />
      </div>
      <button>Crear cuenta</button>
    </form>
    <div class="divider">
      <label>o</label>
    </div>
    <div class="alternatives">
      <button>Google</button>
      <button>Facebook</button>
    </div>
    <div class="changer">
      <label>Ya tienes una cuenta? </label>
      <a href="/login">Iniciar sesión</a>
    </div>
  </div>
</div>